<div class="new-main">
  <%= image_tag "form-up.png", class: "form-flame" %>
  <%= form_with model: @schedule, class: "schedule-form", local: true, id: "schedule-form" do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <div class="form-group">
      <%= f.label :title, class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :start_time, class: "form-label" %>
      <%= f.date_field :start_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :end_time, class: "form-label" %>
      <%= f.date_field :end_time, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :category_id, class: "form-label" %>
      <%= f.collection_select :category_id, @categories, :id, :name, {}, { class: "form-select" } %>
    </div>

    <div class="form-group">
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= link_to "Delete", schedule_path(@schedule.id), method: :delete, class:"btn-destroy" %>
      <%= f.submit "Write", class: "btn-write" %>
    </div>
  <% end %>
</div>