<%# CSS・・・assets/stylesheets/index2 %>

<div class='index' id="ind-sub">
  <div class='journal'>

    <div class="head-bj">
      <div class="title-bj">Bullet journal</div>
      <div class="select-month-ind2">
        <select>
          <option>----</option>
          <% @schedules_by_month.each do |month, schedules| %>
            <option value="#<%= month %>"><%= month %></option>
          <% end %>
        </select>
      </div>
    </div>

    <% @schedules_by_month.each do |month, schedules| %>
      <div class='main-bj'>
        <h4 class="date-month" id="<%= month %>"><%= month %></h4>
        <ul class="event-acbox">
            <% schedules.each do |s| %>
            <li class="acbox-items">
              <input id="ac-<%= s.id %>" type="checkbox" />
              <label for="ac-<%= s.id %>" class="fade-text to__bottom" style="--duration: 2.4s; --delay: 0.6s; --ease: ease-out">
                <div class="acbox-item">
                  <div class="date-item">
                    <% if s.description.present? %>
                      <div class="span1" style="cursor: pointer;">▽
                    <% else %>
                      <div class="span1">　
                    <% end %>
                        <%= s.start_time.strftime('%m/%d') %>
                        <% if s.end_time.present? %>
                           〜 
                        <% end %>
                        <%= s.end_time&.strftime('%m/%d') %>
                      </div>
                      <div class="span2">
                        cat: <%= s.category.name %>
                      </div>
                      <div class="span3">
                        <%= s.title %>
                      </div>
                  </div>
                  <div class="date-ed-de">
                    <%= link_to  "編集", edit_schedule_path(id: s.id), class: "event-edit" %>
                    <%= link_to  "削除", schedule_path(id: s.id), method: :delete, class: "event-delete" %>
                  </div>
                </div>
              </label>
              <% if s.description.present? %>
                <div class="acbox-under">
                  <%= s.description %>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="category">
    <div class="title-bj">Category list</div><br>
      <div class="new-form-cat">
        <%= form_with model: @category, local: true, class: 'category-form', id: "cat-form"  do |f| %>
          <%= f.hidden_field :id %>
          <%= f.text_field :name, class: "form-cat" %>
          <%= f.submit '+', class: 'cat-btn', id: "add-submit" %>
        <% end %>
      </div>
    <div class="category_list">
      <ul class="catlist">
        <% current_user.categories.each do |category| %>
          <li class="category-contents">
              <span><%= category.name %></span>
            <div class="cat-ed-de" id="<%= category.id %>">
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="button" id="scr-btn">↑</div>


<script>
$(function() {
  //セレクトボックススクロールの記述
  $('select').change(function () {
    // スクロールの速度
    const speed = 400; // ミリ秒
    const indSub = document.getElementById("ind-sub");
    const href = $(this).val(); // リンク先（value）を取得して、hrefという変数に代入
    const target = $(href == "#" || href == "" ? 'html' : href); // リンク先(href）のidがある要素を探して、targetに代入
    const position = target.offset().top; // idの要素の位置をoffset()で取得して、positionに代入
    indSub.scroll({
      top: position - 80,
      behavior: "smooth",
    });
  });

  //スクロールの記述
  const topBtn = document.getElementById("scr-btn");
  const indexSub = document.getElementById("ind-sub");

  topBtn.addEventListener("click", () => {
    indexSub.scroll({
      top: 0,
      behavior: "smooth",
    });
  });

  //削除アニメーションの記述
  $.fn.slideFadeToggle  = function(speed, easing, callback) {
      return this.animate({opacity: 'toggle', height: 'toggle'}, speed, easing, callback);
  };

  $('.category-contents').each(function() {
      const text = $(this).children('span').text();
      $(this).children('span').after($('<span />').text(text));
  });

  $('.category-contents .cat-ed-de').on('click', function(e) {
    // DELETEリクエストを送信
    const categoryId = $(this).attr('id'); // クリックされた要素のIDを取得
    const categoryElement = $(this).closest('.category-contents'); // .cat-ed-deの親要素である.category-contentsを取得
    // 削除の処理を実行
    $.ajax({
      url: '/categories/' + categoryId,
      type: 'DELETE',
      success: function() {
        // 成功時の処理（例: カテゴリを削除した後の画面更新など）
      },
      error: function() {
        // エラー時の処理
      }
    });

    $(this).addClass('active hover');
    const line = $('<div />').addClass('line');
    const li = $(this).parent();
    const span = $(this).parent().children('span:first-child');
    setTimeout(function() {
      li.append(line);
      line.css('right', li.width() - span.width() );
      line.animate({
        width: span.width() + 35
      }, 300, function() {
        li.addClass('beforeSlice');
        line.css({
          left: 0,
          right: 'auto'
        }).animate({
            width: 0
          }, 200, function() {
            li.addClass('slice');
            setTimeout(function() {
              li.slideFadeToggle(300, function() {
                li.remove();
              });
            }, 400);
          });
      });
    }, 200);
  });
});
</script>
