<%# CSS・・・assets/stylesheets/index2 %>

<div class='index' id="ind-sub">
  <div class='journal'>

    <div class="head-bj">
      <div class="title-bj">Bullet journal</div>
      <div class="select-month-ind2">
        <select>
          <% @schedules_by_month.each do |month, schedules| %>
            <option value="#<%= month %>"><%= month %></option>
          <% end %>
        </select>
      </div>
    </div>

    <% @schedules_by_month.each do |month, schedules| %>
      <div class="date-month" id="<%= month %>"><%= month %></div>
      <ul class="event-acbox">
          <% schedules.each do |s| %>
          <li class="acbox-item">
            <input id="ac-<%= s.id %>" type="checkbox" />
            <label for="ac-<%= s.id %>" class="fade-text to__bottom" style="--duration: 2.4s; --delay: 0.6s; --ease: ease-out">
              <div class="date-day">
                <%= s.start_time.strftime('%m/%d') %>
                <% if s.end_time.present? %>
                   〜 
                <% end %>
                <%= s.end_time&.strftime('%m/%d') %>
              </div>
              <div class="date-cat">
                category: <%= s.category.name %>
              </div>
              <div class="date-content">
                <% if s.description.present? %>
                ▽
                <% end %>
                <%= s.title %>
                <div class="date-ed-de">
                  <%= link_to  "編集" ,  edit_schedule_path(id: s.id), class: "event-edit" %>
                  <%= link_to  "削除" ,  schedule_path(id: s.id), class: "event-delete" %>
                </div>
              </div>
            </label>
            <% if s.description.present? %>
              <div class="acbox-under">
                <%= s.description %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="category">
    <div class="title-bj">Category list</div><br>
      <div class="new-form-cat">
        <%= form_with model: @category, local: true, class: 'category-form', id: "cat-form"  do |f| %>
          <%= f.hidden_field :id %>
          <%= f.text_field :name, class: "form-cat" %>
          <%= f.submit '+', class: 'cat-btn', id: "add-submit" %>
        <% end %>
      </div>
    <div class="category_list">
      <ul class="catlist">
        <% current_user.categories.each do |category| %>
          <li class="category-contents">
            <div class="cat-name">
              <span><%= category.name %></span>
            </div>
            <div class="cat-ed-de">
              <%= link_to  "編集" ,  "#", class: "event-edit" %>
              <%= link_to  "削除" ,  category_path(id: category.id), method: :delete, class: "event-delete" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="button" id="scr-btn">↑</div>
